* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #181818;
  color: #ececec;
  font-family: "Montserrat";
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  header {
    width: 100%;
    max-width: 60rem;
    background-color: #212121;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;

    #inputContainer {
      display: flex;
      gap: 2rem;

      #taskInput {
        background-color: #ececec;
        color: #212121;
        height: 3rem;
        width: 18rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: none;
        outline: none;
      }

      .addBtn {
        background-color: #ececec;
        color: #212121;
        height: 3rem;
        width: 5rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

  .todoContainer {
    background-color: #212121;
    width: 100%;
    max-width: 60rem;
    .todo {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;

      #taskInput {
        background-color: #ececec;
        color: #212121;
        height: 3rem;
        width: 18rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: none;
        outline: none;
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      button {
        background-color: #ececec;
        color: #212121;
        height: 2rem;
        width: 4rem;
        border-radius: 0.7rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        -webkit-border-radius: 0.7rem;
        -moz-border-radius: 0.7rem;
        -ms-border-radius: 0.7rem;
        -o-border-radius: 0.7rem;
      }
      .saveBtn {
        display: none;
      }
    }
  }
}
